server {

    listen 80;
    listen [::]:80;

    root /var/www/html/www/public;
    index index.php;

    server_name soberitur.ru www.soberitur.ru;
    client_max_body_size 100M;

    location /.well-known {
        try_files $uri =404;
    }

    location / {
        return 301 https://soberitur.ru$request_uri;
    }
}

