COMPOSE_PROJECT_NAME=st
MARIADB_ROOT_PASSWORD=bN7GHK4Lh50HqNj6
MARIADB_AUTO_UPGRADE=1
MARIADB_USER=st_user
MARIADB_PASSWORD=hW5SrXpFGuMMGq44
MARIADB_DATABASE=st_db
NGINX_PORT=12200
MARIADB_PORT=12201

