@font-face {
  font-family: 'Mulish';
  src: local('Mulish Black'), local('Mulish-Black'),
  url('Mulish-Black.woff2') format('woff2'),
  url('Mulish-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish Black Italic'), local('Mulish-BlackItalic'),
  url('Mulish-BlackItalic.woff2') format('woff2'),
  url('Mulish-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish ExtraBold Italic'), local('Mulish-ExtraBoldItalic'),
  url('Mulish-ExtraBoldItalic.woff2') format('woff2'),
  url('Mulish-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish Medium Italic'), local('Mulish-MediumItalic'),
  url('Mulish-MediumItalic.woff2') format('woff2'),
  url('Mulish-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish Medium'), local('Mulish-Medium'),
  url('Mulish-Medium.woff2') format('woff2'),
  url('Mulish-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish SemiBold Italic'), local('Mulish-SemiBoldItalic'),
  url('Mulish-SemiBoldItalic.woff2') format('woff2'),
  url('Mulish-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish Bold Italic'), local('Mulish-BoldItalic'),
  url('Mulish-BoldItalic.woff2') format('woff2'),
  url('Mulish-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish ExtraBold'), local('Mulish-ExtraBold'),
  url('Mulish-ExtraBold.woff2') format('woff2'),
  url('Mulish-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish Light Italic'), local('Mulish-LightItalic'),
  url('Mulish-LightItalic.woff2') format('woff2'),
  url('Mulish-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish Light'), local('Mulish-Light'),
  url('Mulish-Light.woff2') format('woff2'),
  url('Mulish-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish Bold'), local('Mulish-Bold'),
  url('Mulish-Bold.woff2') format('woff2'),
  url('Mulish-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish ExtraLight Italic'), local('Mulish-ExtraLightItalic'),
  url('Mulish-ExtraLightItalic.woff2') format('woff2'),
  url('Mulish-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish Regular'), local('Mulish-Regular'),
  url('Mulish-Regular.woff2') format('woff2'),
  url('Mulish-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish ExtraLight'), local('Mulish-ExtraLight'),
  url('Mulish-ExtraLight.woff2') format('woff2'),
  url('Mulish-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish Italic'), local('Mulish-Italic'),
  url('Mulish-Italic.woff2') format('woff2'),
  url('Mulish-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish SemiBold'), local('Mulish-SemiBold'),
  url('Mulish-SemiBold.woff2') format('woff2'),
  url('Mulish-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

